In [1]:
# This file creates a small pandas dataframe and converts it to sql database
#The database is accessed and queries are applied


import pandas as pd
import numpy as np
import sqlite3

In [2]:
data = {'col1': [1, 2, 7, 10], 'col2': [3, 4, 11, 22]}
df = pd.DataFrame(data=data) #Create small pandas dataframe

con = sqlite3.connect('example.db') #Create connection object

cur = con.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS pandas_dataframe
               (column1, column2)''')

In [3]:
def insert_table(df, tbl_name): # insert df row by row into sql table
    number_of_cols = len(df.columns)
    temp="?" # create string of '?', for sql insertion
    temp=temp*number_of_cols
    sep=','
    list_of_qmarks=sep.join(temp)
    

    for i in range(df.first_valid_index(),df.last_valid_index()+1): # iterate and insert each row into sql db

        df1_row=df.loc[i].values.flatten().tolist()

        cur.execute("INSERT INTO"+f" {tbl_name} "+"VALUES ("+f"{list_of_qmarks}"+")", df1_row)

insert_table(df, 'pandas_dataframe') #call insert function

In [4]:
cur.execute("SELECT * FROM pandas_dataframe")  # apply query
print(cur.fetchall())    # display sql db data

[(1, 3), (2, 4), (7, 11), (10, 22)]

This shows how a pandas dataframe is inserted into a sql database. The query returns the tuples corresponding to rows in the dataframe. At Census Bureau, I developed script files to insert dataframes containing metrics from disclosure avoidance system (DAS) experiments. These experiments applied differential privacy on large population datasets to protect sensitive 2020 Census data. A total of 300,000 tuples of data per month were saved to SQL as a result of my script files. This was done to systematize the large number of metrics generated during DAS experiments, to promote alogorithm development